.service__card {
  border-radius: 10px !important;
}

.service__card img {
  height: 175px;
  width: 173px;
  object-fit: contain;
  margin: 0 auto;
  padding: 10px 0;
}

.service__card .fa-money-bill {
  margin-right: 10px !important;
}

.service__card .fa-shopping-cart {
  margin-left: 10px !important;
}
